:root{
    --cor-fundo: #0e010d;
    --cor-principal: #14200b;
    --cor-secundaria: #332821;
    --cor-destaque: #982dfd;
    --cor-texto: #d7f7ff;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
